.btn-primary{
    border-radius: 5px;
    background: #FD6E0A;
    border: 0;
    color: white;
    font-size: 18px;
    font-weight: 700;
    padding: 13px 30px;
    margin-left: 120px;
}

.header{
    background-image: url('../images/banner/banner1.png');
    width: 100%;
    height: 700px;
}
.banner{
    padding: 190px 220px 300px 850px;
}
.banner-text{
    text-align: right;
    width: 300px;
    font-size: 45px;
}
.banner-des{
    font-size: 14px;
    width: 300px;
    text-align: right;
}

/* Main Section Style */

.main{
    width: 1300px;
    justify-items: center;
}
.ss-container{
    display: flex;
    gap: 100px;
    width: 1200px;
    margin-top: 50px;
}
.ss-size{
    height: 500px;
    margin-top: 200px;
    text-align: justify;
}
.ss-title{
    color: #151414;
    font-size: 40px;
    font-weight: 700;
}
.ss-text{
    width: 412px;
    color: #444343;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}
.ss-text-item > li {
    list-style:none;
    color:#444343;
    font-size: 16px;
    font-weight: 400;
}
.add-check{
    display: flex;
    gap: 10px;
    margin-left: -40px;
}
.my-plan-container{
    margin-top: 90px;
}
.plan-container{
    display: flex;
    justify-content: space-evenly;
    width: 1100px;
    margin-top: 70px;
}
.plan{
    justify-items: center;
}
.main-text{
    text-align: center;
}
.gradient > img{
    width: 840px;
    height: 200px;
}
.gradient{
    margin-top: 60px;
    background-image: url('..//images/watch.png');
    width: 820px;
    height: 200px;
    border-radius: 8px;
}
.watch-title{
    color: #ffffff;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 700px;
    position: absolute;
    top: 1910px;
    left: 280px;
}
.call{
    border-radius: 5px;
    background: #ffffff;
    border: 0;
    color: rgb(240, 124, 47);
    font-size: 13px;
    font-weight: 700;
    padding: 13px 30px;
    margin-left: 120px;
    position: absolute;
    top: 2020px;
    left: 160px;
}

/* footer section style */
.footer-container{
    display: flex;
    gap: 217px;
    color: #ffffff;
    background: #000000;
    margin-top: 113px;
    padding: 130px 200px;
}
.about{
    text-align: justify;
    width: 40%;
}
.Subscribe{
    border-radius: 5px;
    background: #ffffff;
    border: 0;
    color: rgb(240, 124, 47);
    font-size: 13px;
    font-weight: 700;
    padding: 13px 30px;
    margin-top: 10px;
    /* margin-left: 120px; */
}
.email{
    display: block;
    margin-bottom: 24px;
    padding: 18px 35px;
    color: #fff7f7;
    border-radius: 5px;
    background: #000000;
    border:1px solid beige;
    width: 100%;
}
/* .form{
    width: 20%;
} */
